
body{
  font-family: 'Montserrat', sans-serif;
}

/* Title */

.container-fluid{
  padding: 3% 15% 7%;
}

#title{
  background-color: #ff4c68;
}

.pro{
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  color: white;
}

.title-image{
  width: 20%;
  transform: rotate(25deg);
  position: absolute;
  left: 60%;
}

.Download-button{
  margin: 5% 3% 5% 0;
}

/* Navbar  */

.navbar{
  padding: 0 0 4.5rem;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0px 18px;
}

.nav-size{
  font-size: 2.2rem;
  font-family: 'Montserrat', sans-serif;
}


/* Features */

#features{
  padding: 7% 15%;
  background-color: white;
  position: relative;
  z-index: 1
}

.feature-box{
  text-align: center;
  padding: 5%;
}

h3{
  font-family: 'Montserrat-Black', sans-serif;
}

p{
  color: #8f8f8f;
}

.Icon{
  color: #ef8172;
  margin-bottom: 1rem;
}
.Icon:hover{
  color: #ff4c68;
}


/* Testimonials */

#testimonials{
  text-align: center;
  background-color: #ef8172;
  color: white;
}

h2{
  font-family: "Montserrat-Bold";
  font-size: 2.5rem;
  line-height: 1.5;
}

.Test-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}



/* Pricing */

#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.cool{
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item{
  padding: 5% 10%;
}

#pricing{
  padding: 100px;
  text-align: center;
}

.price{
  padding: 3% 2%;
}

.dog{
    font-family: "Montserrat-Bold";
    text-align: center;
}

.dog1{
  font-family: "Montserrat-Bold";
  text-align: center;
  font-size: 30px;
}

.labra{
  width: 70%;
  border-radius: 100%;
  margin-left: 20px;
  height: 200px;
}

@media (max-width: 1028px) {
  .title-image{
    position: static;
    transform: rotate(0);
  }
  #title{
    text-align: center;
  }
}

/* Footer */

#cta{
  background-color: #ff4c68;
  text-align: center;
  color: white;
  padding: 7% 15%;
  margin-bottom: 50px;
}

.footer-heading{
  font-family: "Montserrat-Black";
  line-height: 1.5;
  color: white;
  font-size: 3rem;
}

#footer{
  color: White;
  text-align: center;
}

.Download-button1{
  margin: 3% 3% 0 0;
}

.Face{
  color: Black;
  margin: 20px 5px;
}
